<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Default Item -->
  <ng-container *ngIf="user">
    <ion-item>
      <ion-label>
        <h1>{{user.nome}}</h1>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>E-mail:</strong> {{user.email}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>CPF:</strong> {{user.cpf}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>RG:</strong> {{user.rg}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Data de Nascimento:</strong> {{user.data_nascimento | date:'dd/MM/yyyy'}}
      </ion-label>
    </ion-item>
  </ng-container>

  <!-- Button -->
  <ion-button class="ion-margin end" size="small">
    <ion-icon name="apps-outline"></ion-icon> Meus Aplicativos
  </ion-button>
</ion-content>