<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>

    <!-- Menu icon -->
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Usuário -->
  <ng-container *ngIf="user">
    <ion-item>
      <ion-label>
        <h1>{{user.nome}}</h1>
        <h3>{{user.profile.titulo}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>E-mail:</strong> {{user.email}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>CPF:</strong> {{user.cpf}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>RG:</strong> {{user.rg}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <strong>Data de Nascimento:</strong> {{user.data_nascimento | date:'dd/MM/yyyy'}}
      </ion-label>
    </ion-item>

    <!-- Aplicativos -->
    <ion-list inset="true">
      <ion-item *ngFor="let app of user.apps">
        <ion-label>
          {{ app.nome }}
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>


  <!-- Buttons -->
  <ion-grid>
    <ion-row>
      <!-- Atualizar Cadastro -->
      <ion-col>
        <ion-button size="block" color="secondary" (click)="editar(user.id)">
          <ion-icon name="arrow-redo-outline" slot="start"></ion-icon> Atualizar Cadastro
        </ion-button>
      </ion-col>
      <!-- Excluir conta -->
      <ion-col>
        <ion-button size="block" color="danger" (click)="confirmarExclusao(user.id)">
          <ion-icon name="trash-outline" slot="start"></ion-icon> Excluir Conta
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>