<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" mode="md"></ion-back-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>

    <!-- Menu icon -->
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aplicativo -->
  <ng-container>
    <!-- App form -->
    <form class="form" [formGroup]="formApp" (ngSubmit)="register()">
      <!-- Nome -->
      <ion-item>
        <ion-label position="floating" color="primary">Nome</ion-label>
        <ion-input type="text" name="nome" formControlName="nome" clearInput></ion-input>
      </ion-item>

      <!-- Bundle-id -->
      <ion-item>
        <ion-label position="floating" color="primary">Bundle-id</ion-label>
        <ion-input type="text" name="bundle_id" formControlName="bundle_id" clearInput></ion-input>
      </ion-item>

      <!-- Cadastrar button -->
      <div class="ion-padding">
        <ion-button type="submit" expand="block" class="btn-login ion-margin">Cadastrar</ion-button>
      </div>
    </form>
  </ng-container>
</ion-content>