<ion-content class="auth-page">
  <!-- Logo -->
  <div>
    <ion-img class="logotipo" src="../assets/image/logotipo.png"></ion-img>
    <ion-text color="mba">
      <h2><strong>MBA</strong> Mobi</h2>
    </ion-text>
  </div>

  <!-- Login form -->
  <form class="form">
    <ion-item>
      <ion-label position="floating">Digite seu e-mail</ion-label>
      <ion-input type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Digite sua senha</ion-label>
      <ion-input type="password" name="senha"></ion-input>
    </ion-item>
  </form>

  <div>
    <!-- Login button -->
    <ion-button expand="full" class="btn-login ion-margin">
      <ion-icon name="log-in"></ion-icon>Entrar
    </ion-button>

    <!-- Cadastrar -->
    <ion-label color="primary" class="ion-margin">Cadastrar</ion-label>
  </div>

</ion-content>