<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>

    <!-- Menu icon -->
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Listagem -->
  <ion-list class="ion-margin">
    <ng-container *ngFor="let user of users">
      <ion-item-sliding *ngIf="user.profile_id < profileLogged || user.id == userLogged.id">
        <!-- Item -->
        <ion-item (click)="edit(user.id)">
          <ion-avatar slot="start">
            <img src="../assets/image/avatar.svg">
          </ion-avatar>
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <h2>{{user.nome}}</h2>
            <h3>{{user.profile.titulo}}</h3>
            <p>{{user.email}}</p>
          </ion-label>
        </ion-item>

        <!-- Sliding Apagar  -->
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteConfirm(user.id)">Apagar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ng-container>
    <!-- Nenhum usuário encontrado -->
    <ion-text *ngIf="users.length == 0">
      <h1>Nenhum usuário encontrado</h1>
    </ion-text>
  </ion-list>

  <!-- Fab no canto inferior direito -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newUser()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>