<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>

    <!-- Menu icon -->
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Usuário -->
  <ng-container>
    <!-- User form -->
    <form class="form" [formGroup]="formUser" (ngSubmit)="cadastrar()">
      <!-- Nome -->
      <ion-item>
        <ion-label position="floating" color="primary">Nome *</ion-label>
        <ion-input type="text" name="nome" formControlName="nome" clearInput></ion-input>
      </ion-item>

      <!-- E-mail -->
      <ion-item>
        <ion-label position="floating" color="primary">E-mail</ion-label>
        <ion-input type="text" name="email" formControlName="email" clearInput></ion-input>
      </ion-item>

      <!-- CPF -->
      <ion-item>
        <ion-label position="floating" color="primary">CPF *</ion-label>
        <ion-input type="text" name="cpf" formControlName="cpf" clearInput></ion-input>
      </ion-item>

      <!-- RG -->
      <ion-item>
        <ion-label position="floating" color="primary">RG</ion-label>
        <ion-input type="text" name="rg" formControlName="rg" clearInput></ion-input>
      </ion-item>

      <!-- Nascimento -->
      <ion-item>
        <ion-label position="stacked" color="primary">Data de Nascimento</ion-label>
        <ion-input type="date" name="data_nascimento" formControlName="data_nascimento"></ion-input>
      </ion-item>

      <!-- Perfil -->
      <ion-item>
        <ion-label position="stacked" color="primary">Perfil *</ion-label>
        <ion-select [compareWith]="compareWith" value="MyDefaultAppIdValue" name="profile_id"
          formControlName="profile_id" interface="action-sheet">


          <!--<ion-item-sliding *ngIf="user.profile_id < profileLogged || user.id == userLogged.id">-->
          <ng-container *ngFor="let profile of profiles">


            <ion-select-option *ngIf="profile.id < profileLogged || profile.id == profileLogged" [value]="profile.id">
              {{ profile.titulo }}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <!-- Aplicativos -->
      <ion-item *ngIf="apps.length > 0">
        <ion-label position="stacked" color="primary">Aplicativos</ion-label>
        <ion-select multiple="true" name="apps" formControlName="apps">
          <ion-select-option *ngFor="let app of apps" [value]="app.id">{{ app.nome }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Senha -->
      <ion-item *ngIf="userId === userLogged.id || !userId">
        <ion-label position="stacked" color="primary">Alterar Senha *</ion-label>
        <ion-input type="password" name="password" formControlName="password" clearInput></ion-input>
      </ion-item>

      <!-- Cadastrar button -->
      <div class="ion-padding">
        <ion-button type="submit" expand="block" class="btn-login ion-margin">Cadastrar</ion-button>
      </div>
    </form>
  </ng-container>
</ion-content>