<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- Logo -->
    <ion-title color="mba">
      <h1>MBA</h1>
    </ion-title>

    <!-- Menu icon -->
    <ion-buttons slot="end" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Usuário -->
  <ng-container *ngIf="user">
    <!-- User form -->
    <form class="form" [formGroup]="formUser" (ngSubmit)="cadastrar()">
      <!-- Nome -->
      <ion-item>
        <ion-label position="floating" color="primary">Nome</ion-label>
        <ion-input type="text" name="nome" formControlName="nome" clearInput></ion-input>
      </ion-item>

      <!-- E-mail -->
      <ion-item>
        <ion-label position="floating" color="primary">E-mail</ion-label>
        <ion-input type="text" name="email" formControlName="email" clearInput></ion-input>
      </ion-item>

      <!-- CPF -->
      <ion-item>
        <ion-label position="floating" color="primary">CPF</ion-label>
        <ion-input type="text" name="cpf" formControlName="cpf" clearInput></ion-input>
      </ion-item>

      <!-- RG -->
      <ion-item>
        <ion-label position="floating" color="primary">RG</ion-label>
        <ion-input type="text" name="rg" formControlName="rg" clearInput></ion-input>
      </ion-item>

      <!-- Nascimento -->
      <ion-item>
        <ion-label position="floating" color="primary">Data de Nascimento</ion-label>
        <ion-input type="date" name="data_nascimento" formControlName="data_nascimento"></ion-input>
      </ion-item>

      <!-- Perfil -->

      <!-- Aplicativos -->

      <!-- Cadastrar button -->
      <div class="ion-padding">
        <ion-button type="submit" expand="block" class="btn-login ion-margin">Cadastrar</ion-button>
      </div>
    </form>
  </ng-container>
</ion-content>